# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

exercise_2/Debug/

exercise_2/targetConfigs/

exercise_2/.settings/

exercise_2/.launches/

exercise_2/.ccsproject

exercise_2/.cproject

exercise_2/.project
/.metadata/

.jxbrowser-data/

RemoteSystemsTempFiles/

exercise_3/.launches/

exercise_3/.settings/

exercise_3/Debug/

exercise_3/targetConfigs/

exercise_3/.ccsproject

exercise_3/.cproject

exercise_3/.project

.ccsproject

.cproject

.DS_Store

targetConfigs/

.settings/

.project
